* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #161513;
  color: white;
  font-family: 'outfit';
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  background-color: #000; /* if you're using a dark theme */
}

html {
  scroll-behavior: smooth;
  
}
